.Home-Nav {
  background-color: #264653;
  display: flex;
  flex-flow: column;
  text-align: center;
  color: #E9C46A;
  
}

.Home-Nav a{
  text-decoration: none;
  color: #F4A261;
  width: auto;
  margin:0 auto 5pt auto;
  font-size: 20pt;
}

.Colors-List {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #2A9D8F;
  list-style-type: none;
  padding: 0;

}

.Colors-List a{
  text-decoration: none;
}

.ColorDetail {
  height: 100vh;
}

.ColorDetail a{
  text-decoration: none;
  padding: 5pt;
  background-color: white;
  color: black;
  margin: 0 auto;
}